<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{HH:mm:ss.SSS} [%t] %c{1}.%M - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console-Appender"/>
        </Root>
        <Logger name="net.corda" level="WARN" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
    </Loggers>
</Configuration>
